/* * {
    border: 1px solid indianred;
} */
body {
    background-color: azure;
}
.container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

h1 {
    text-align: center;
    /* color: rgba(189, 147, 145, 1) */
}

.wrapper {
    display: flex;
    flex-wrap: wrap row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.weatherInfo {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
    height: 200px;
    width: 250px;
    /* border: 1px solid black; */
}

.weatherInfo > div {
    /* border: 1px solid black; */
    height: 100%;
}

.weatherDisplay > div{
    border: 1px solid black;
}
.tasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50%;
    width: 50%;
    margin-left: 15px;
}
.items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    padding: 3px;
    width: 50%;
}

#input {
    height: 20px;
    width: 150px;
}
.finishedButton {
    width: 100px;
}
.completedTasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    padding: 3px;
    width: 50%;
}

.finishedTasks {
    display: flex;
    text-decoration: line-through;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    padding: 2px;
}
.toDoItems {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    padding: 2px;
}